{% extends 'master.html' %}
{% load static %}
{% block title  %} my task {% endblock %}

{% block content %}
<div class="container edit" id="add-page">
    <h1>Edit Task</h1>
<form method="POST">
  {% csrf_token %}
  
  <label>Task:</label>
  <input type="text" name="task" value="{{member.task}}"><br><br>
  
  <label>Status:</label>
  <select name="status"  value= "{{member.status}}" required>
  <option value="pending" {% if member.status == "pending" %}selected{% endif %}>Pending</option>
  <option value="completed" {% if member.status == "completed" %}selected{% endif %}>Completed</option>

  </select><br><br>
  
  <!-- <label>Create Date:</label>
  <input type="date" name="created_date" value="{{member.created_date}}" required><br><br> -->
  
  <!-- <label>Due Date:</label>
  <input type="number" name="duration" min="1" value="{{member.due_date}}" required><br><br> -->
    <label>Due Date:</label>
  <input type="date" name="due_date" value="{{member.due_date|date:'Y-m-d' }}" required min="{{ today|date:'Y-m-d'}}"><br><br>
  
  <button type="submit" class="btn btn-add">Save</button>
    <a href="{% url 'index' %}" class="btn btn-cancel">Cancel</a>

</form>
</div>
{% endblock%}